@tailwind base;
@tailwind components;
@tailwind utilities;

  button {
    @apply font-bold py-2 px-4 rounded
  }
  .btn-blue {
    @apply bg-[#034DA2] text-white
  }
  .btn-blue:hover {
    @apply bg-blue-700
  }

  button:disabled,
  button[disabled],   button:disabled:hover {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  h1 {
    @apply text-2xl font-bold
  }
  th {
    @apply px-2 py-2
  }
  td {
    @apply whitespace-nowrap px-2 py-2 overflow-hidden text-ellipsis
  }

  table {
    @apply min-w-full table-fixed w-full min-w-[600px]
  }

  thead {
    @apply border-b border-neutral-200  dark:border-white/10 text-left
  }
  tr {
    @apply border-b border-neutral-200 dark:border-white/10 hover:bg-gray-50 h-20
  }
  input[type='text'], input[type='password'], input[type='number']  {
    @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none
  }
  input[type='checkbox'] {
    @apply w-4 h-4 rounded mt-2
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield
  }