@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-[#034DA2] text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  th {
    @apply px-2 py-2
  }
  td {
    @apply whitespace-nowrap px-2 py-2 overflow-hidden text-ellipsis
  }

  table {
    @apply min-w-full table-fixed w-full min-w-[600px]
  }

  thead {
    @apply border-b border-neutral-200  dark:border-white/10 text-left
  }
  tr {
    @apply border-b border-neutral-200 dark:border-white/10 hover:bg-[#CF4EC1] h-20
  }
  input[type='text'], input[type='password'], input[type='number']  {
    @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none
  }
  input[type='checkbox'] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 mt-2
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }